$bg-main: #0f111a;
$bg-code: #181a1f;
$text-main: #4b526d;
$file-text: #84ffff;
$white: #eeffff;
$orange: #f78c6c;
$yellow: #ffcb6b;
$blue: #82aaff;
$green: #c3e88d;
$red: #f07178;
$cyan: #89ddff;
$gray: #717cb4;
$select: #717cb4;
$active: #1a1c25;
$button: #191a21;
